{% extends "base.html" %}
{% block title %}权限管理{% endblock %}
{% block css %}
{% include "auth/css.html" %}
{% endblock %}

{% block js %}
{% include "auth/js.html" %}
{% endblock %}


{% block content %}
<script src="{{ url_for('static',filename='vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">  
                    <h6 class="panel-title txt-dark">角色</h6> 
                </div>
                <div class="pull-left">  
                    
                    <select id="sel">
                        {% for role in allrole %}
                        {% if role.id != 1 %}
                            <option  id="role_{{role.id}}">{{role.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="pull-left"> 
                    <button class="btn btn-default btn-icon-anim btn-square" id="btn_update_delete"><i class="fa fa-pencil"></i></button>
                </div>

                <div class="pull-left"> 
                    <button  class="btn  btn-success btn-sm" data-toggle="modal" data-target="#myModal" id="btn_add">添加</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel-wrapper collapse in panel panel-default card-view">
            <div class="panel-body">
                <div class="panel-group accordion-struct" role="tablist" aria-multiselectable="true">
                {% for menu in allmenu %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_5">
                            <a role="button" data-toggle="collapse" href="#menu{{menu.id}}" aria-expanded="false" class="collapsed">{{menu.name}}</a> 
                        </div>
                        <div id="menu{{menu.id}}" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body pa-15">
                                <form action="" method="get" style="margin-left: 3%">                    
                                {% for url in allurl %}
                                    {% if url[1].id == menu.id %}
                                        {% if url[0] in firstrole.urls %}
                                            <input type="checkbox" name="checkbox" id="{{url[0].id}}"  checked="checked" value="{{url[0].name}}">{{url[0].name}}
                                            <br>                                    
                                        {% else %}
                                            <input type="checkbox" name="checkbox" id="{{url[0].id}}"  value="{{url[0].name}}">{{url[0].name}}
                                            <br>                                    
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}                    
                </div>
                <button class="btn btn-primary btn-sm" style="margin-left: 4%;" id="btn">修改</button>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title" id="myModalLabel">添加角色</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body pa-0">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <div class="form-body overflow-hide">
                                                <input class="form-control" placeholder="请输入角色名" id="role_name">
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" id="btn_sure" class="btn btn-success waves-effect">添加</button>
                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                                            </div>                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<!-- 修改角色 -->
<div id="update_delete" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update_deleteLabel">修改角色</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body pa-0">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <div class="form-body overflow-hide" id="">
                                                <div id = 'show_role_name'>
                                                    
                                                </div>
                                                <input class="form-control" placeholder="请输入新的角色名" id="new_role_name">
                                            </div>
                                            <div class="modal-footer">
                                            <button class="btn btn-danger btn-anim" id="btn_delete">
                                                <i class="fa fa-trash-o"></i>
                                                <span class="btn-text">
                                                    <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">删除</font>
                                                    </font>
                                                </span>
                                            </button>
                                            <button class="btn btn-success btn-anim" id="btn_update">
                                                <i class="icon-rocket"></i>
                                                <span class="btn-text">
                                                    <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">更新</font>
                                                    </font>
                                                </span>
                                            </button>
                                            <button type="button" id="btn_cancer" class="btn btn-default waves-effect">取消</button>
                                            </div>                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>



<style type="text/css">
  .accordion-struct.panel-group .panel .panel-heading.activestate{
    background: #fff;
      border-bottom: 1px solid rgba(33, 33, 33, 0.1);
      
  }
  .accordion-struct.panel-group .panel .panel-heading.activestate a{
    color: #878787!important;
  }
  .pull-left{float: left;padding:0 0 0 10px;}

  #btn_add{
    margin-left: 15px;
  }
 .pull-left h6.txt-dark{
    line-height: 2.3;
    font-size: 18px;
    margin-left: 15px;
 }

  #btn_update_delete{
        height: 38px;
        margin-left: 10px;
  }
  #sel{
    height: 38px;
    margin-left: 10px;
  }
  #show_role_name{
    margin-bottom: 10px;
  }

  #update_delete{display: none;}
  #bg_box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    z-index: 1040;
    display: none;
  }
</style>

<script type="text/javascript">
    $(function(){  

        // 修改角色权限
        $("#btn").click(function(){
            var obj=document.getElementsByName('checkbox');
            var now_url=[]
            for (var i=0;i<obj.length;i++){
                if(obj[i].checked){
                    now_url.push(obj[i].id)   
                }
            }

            $.ajax({
                url:'updaterolesource',
                method:'POST',
                data:{"role_id":$('#sel option:selected').attr("id"),'now_url':now_url},
                success:function(response){
                   alert(response)      
                } 

            });
        });

        // 切换角色显示权限
        $("#sel").change(function(){
            $.ajax({
                url:'updatesource',
                method:'GET',
                data:{"role_name":$('#sel option:selected').val()},
                success:function(response){
                    var arr=JSON.parse(response)
                    {% for url in allurl %}
                        $('#'+"{{url[0].id}}").attr('checked',false)
                    {% endfor %}
                    var array=arr['array']
                    for (var i = 0; i <array.length; i++) {
                        $('#'+array[i]).prop('checked','True')
                    }        
                } 
            });
        })

        // 添加角色
        $("#btn_sure").click(function(){
            if ($('#role_name').val()) {
                $.ajax({
                url:"/auth/addrole",
                    data:{
                        "role_name":$('#role_name').val(),
                    },
                    success:function(response){
                        if (response=="success") {
                            window.location.href="/auth/rolemanage"                 
                        }else{
                            alert("该角色已存在！")
                        }
                    }
                })
            }else{
                alert("请输入角色名！")
            } 
        })

        // 修改角色
        $("#btn_update").click(function(){
            if ($('#new_role_name').val()) {
                $.ajax({
                url:"/auth/updaterolename",
                data:{
                        "old_role_name":$('#sel option:selected').val(),
                        "new_role_name":$('#new_role_name').val(),
                    },
                    success:function(response){
                        if (response=="success") {
                            window.location.href="/auth/rolemanage"             
                        }else{
                            alert("修改失败！")
                        }
                    }
                })
            }else{
                alert("请输入角色名！")
            } 
        })

        // 删除角色
        $("#btn_delete").click(function(){
            if(confirm("确定删除?")){
                $.ajax({
                    url:"/auth/deleterole",
                    data:{
                        "role_name":$('#sel option:selected').val(),
                    },
                    success:function(response){
                        if (response=="success") {
                            window.location.href="/auth/rolemanage"             
                        }else{
                            alert("修改失败！")
                        }
                    }
                })
            }
        })

        $("#btn_update_delete").click(function(){
            $("#show_role_name").html("")
            $("#show_role_name").append("<h5>当前角色为:"+$('#sel option:selected').val()+"</h5>")
            $("#update_delete").show()
            $('#bg_box').show()
        })

        $("#btn_cancer").click(function(){
            $("#update_delete").hide()
             $('#bg_box').hide()
        })

    }) 
</script>


{% endblock %}
