{% extends "base.html" %}                                              
{% block title %}想法管理{% endblock %}
{% block css %}
{% include "auth/css.html" %}
{% endblock %}

{% block js %}
{% include "auth/js.html" %}
{% endblock %}


{% block content %}
<!-- Row -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default card-view">
			<div class="panel-heading">
				<div class="pull-left">
					<h6 class="panel-title txt-dark">想法管理</h6>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-wrapper collapse in">
				<div class="panel-body">
					<div class="table-wrap">
						<div class="table-responsive"> 
							<table id="datable_1" class="table table-hover display  pb-30" >
								<thead> 
									<tr>
										<th>想法</th>
										<th>标签</th>
										<th>内容</th>
										<th>分享者</th>
										<th>文章修改时间</th>
										<th>用户登录时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
								{% for x in allthought %}
									<tr>
										<td>{{x.title}}</td>
										<td>{{x.label}}</td>
										<td>{{x.detail}}</td>
										<td>{{x.username}}</td>
										<td>{{x.time}}</td>
										<td>{{x.last_time}}</td>
										<td>
										
										{% if current_user.perm_check(4) %}
											<button id ="thought{{x.id}}" class="btn btn-info btn-icon-anim btn-circle"><i class="icon-trash"></i></button>
										{% endif %}
										
										</td>
										<script type="text/javascript">
											$(function(){
												$('#thought{{x.id}}').click(function(){
													if(confirm("确认删除?")){
														$.ajax({
															url : 'delthought',
															data :{
																'thought_id' : "{{x.id}}",
															},
															success :function(response){
																window.location.reload();
															},
														})
													}
												})
											})
										</script>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- /Row -->
{% endblock %}