{% extends "base.html" %}                                              
{% block title %}用户管理{% endblock %}
{% block css %}
{% include "auth/css.html" %}
{% endblock %}

{% block js %}
{% include "auth/js.html" %}
{% endblock %}


{% block content %}
<script src="{{ url_for('static',filename='vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default card-view">
			<div class="panel-heading">
				<div class="pull-left">
					<h6 class="panel-title txt-dark">用户管理</h6>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-wrapper collapse in">
				<div class="panel-body">
					<div class="table-wrap">
						<div class="table-responsive">
							<table id="datable_1" class="table table-hover display  pb-30" >
								<thead>
									<tr>
										<th>邮箱</th>
										<th>姓名</th>
										<th>权限</th>
										<th>是否激活</th>
										<th>角色</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
								{% for user in alluser %}
								{% if user.username != 'admin' %}
									<tr>
										<th>{{user.email}}</th>
										<th>{{user.username}}</th>
										<th>
											{% for perm in user.perm %}
												{{perm.name}}&nbsp;
											{% endfor %}
										</th>
										<th>{{user.confirmed}}</th>
										<th>
											{% for role in user.roles %}
												{{role.name}}&nbsp;
											{% endfor %}
										</th>
										<th>
											<button id='btn{{user.id}}' class="btn btn-default btn-block btn-outline btn-anim mt-30" data-toggle="modal" data-target="#myModal{{user.id}}" style="padding: 5px;width: 70px;margin-top: 0 !important;">
												<i  class="fa fa-pencil"></i>
													<span class="btn-text">修改</span>
											</button>
											<div id="myModal{{user.id}}" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
															<h5 class="modal-title" id="myModalLabel">用户编辑</h5>
														</div>
														<div class="modal-body">
															<div class="col-lg-12">
																<div class="panel-wrapper collapse in">
																	<div class="panel-body pa-0">
																		<div class="col-sm-12 col-xs-12">
																			<div class="form-wrap">
																				<form action="#">
																					<div class="form-body overflow-hide">
																						<div class="form-group">
																							<label>姓名: {{user.username}} </label>
																						</div>
																						<div class="form-group">
																							<label>权限 </label>
																							<div>
																								{% for perm in allperm %}
																									{% if perm in user.perms %}
																										<input type="checkbox" value='{{perm.id}}' name='per_{{user.id}}' checked="True">{{perm.name}}
																									{% else %}
																										<input type="checkbox" value='{{perm.id}}' name='per_{{user.id}}'>{{perm.name}}
																									{% endif %}
																								{% endfor %}
																							</div>
																						</div>
																						<div class="form-group">
																							<label>是否激活 </label>
																								{% if user.confirmed %}
																									<input type="checkbox" id="act_{{user.id}}" checked="true">
																								{% else %}
																									<input type="checkbox" id="act_{{user.id}}">
																								{% endif %}
																						</div>
																						<div class="form-group">
																							<label>角色</label>
																							<div style="width:200px;height:80px;overflow-y: auto;" >
																								<div>
																									{% for role in allrole %}
																									{% if role.id != 1 %}
																										{% if role in user.roles %}
																											<input type="checkbox" name="rol_{{user.id}}" value="{{role.id}}" checked="True">{{role.name}}<br>
																										{% else %}
																											<input type="checkbox" name="rol_{{user.id}}" value="{{role.id}}">{{role.name}}<br>
																										{% endif %}
																									{% endif %}
																									{% endfor %}
																								</div>
																							</div>
																						</div>
																					</div>			
																				</form>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-success waves-effect" id='submit{{user.id}}'>保存</button>
														<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
													</div>
												</div>
											</div>
										</th>
									</tr>
									<script type="text/javascript">
										$(function(){
											$("#submit{{user.id}}").click(function(){
												var userid='{{user.id}}'	
												if($('#act_{{user.id}}').is(':checked')) {
														activate=1
												}else{
														activate=0
												}
												var per=document.getElementsByName('per_{{user.id}}')
												var arr_per=[]
												for (var i=0;i<per.length;i++){
													if(per[i].checked){
														arr_per.push(per[i].value)
													}
												}
												var rol=document.getElementsByName('rol_{{user.id}}');
												var rol_id=[]
												for (var i=0;i<rol.length;i++){
													if(rol[i].checked){
														rol_id.push(rol[i].value)
													}
												}
												$.ajax({
													url:'updateuserinfo',
													method:'POST',
													data:{  'rol_id':rol_id,
															'activate':activate,
															'arr_per':arr_per,
															'userid':userid
													},
													success:function(responce){
														window.location.reload()
													} 
												});
											})
										})
									</script>
								{% endif %}
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
{% endblock %}

