<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<!-- Morris Charts CSS -->
<link href="{{ url_for('static',filename='vendors/bower_components/morris.js/morris.css') }}" rel="stylesheet" type="text/css"/>

<!-- Data table CSS -->
<link href="{{ url_for('static',filename='vendors/bower_components/datatables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>

<link href="{{ url_for('static',filename='vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css') }}" rel="stylesheet" type="text/css">

<!-- bootstrap-select CSS -->
<link href="{{ url_for('static',filename='vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css"/> 

<!-- Bootstrap Switches CSS -->
<link href="{{ url_for('static',filename='vendors/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>
    
<!-- switchery CSS -->
<link href="{{ url_for('static',filename='vendors/bower_components/switchery/dist/switchery.min.css') }}" rel="stylesheet" type="text/css"/>

<!-- Custom CSS -->
<link href="{{ url_for('static',filename='dist/css/style.css') }}" rel="stylesheet" type="text/css">