<script src="{{ url_for('static',filename='vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static',filename='vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ url_for('static',filename='vendors/bower_components/raphael/raphael.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendors/bower_components/morris.js/morris.min.js') }}"></script>
<!-- 图表数据所在的函数 -->
<!-- <script src="{{ url_for('static',filename='dist/js/morris-data.js') }}"></script> -->

<!-- Slimscroll JavaScript -->
<script src="{{ url_for('static',filename='dist/js/jquery.slimscroll.js') }}"></script>

<!-- Owl JavaScript -->
<script src="{{ url_for('static',filename='vendors/bower_components/owl.carousel/dist/owl.carousel.min.js') }}"></script>

<!-- Switchery JavaScript -->
<script src="{{ url_for('static',filename='vendors/bower_components/switchery/dist/switchery.min.js') }}"></script>

<!-- Fancy Dropdown JS -->
<script src="{{ url_for('static',filename='dist/js/dropdown-bootstrap-extended.js') }}"></script>

<!-- Init JavaScript -->
<script src="{{ url_for('static',filename='dist/js/init.js') }}"></script>