<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="mobile-only-brand pull-left">
        <div class="nav-header pull-left">
            <div class="logo-wrap">
                <a href="{{ url_for('main.index') }}">
                    <img class="brand-img" src="{{ url_for('static',filename='dist/img/logo.png') }}"/>
                    <span class="brand-text">享我所想</span>
                </a>
            </div>
        </div>  
        <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
        <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
        <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
    </div>
    <!-- up 菜单栏 -->
    <form action="/show" id="search_form" role="search" class="top-nav-search pull-left collapse in" aria-expanded="true" style="">
        <div class="input-group">
            <input name="key" class="form-control" placeholder="Search" type="text" required="required">
            <span class="input-group-btn">
                <button type="submit" class="btn  btn-default"><i class="zmdi zmdi-search"></i></button>
            </span>            
        </div>
    </form>

    {% if current_user.perm_check(2) %}
        <!-- 分享问题按钮 -->
        <button type="button" class="btn btn-success btn-anim" data-toggle="modal" data-target="#myModal" style="margin-top: 11px;margin-left: 5px;"><i class="fa fa-pencil"></i><span class="btn-text">share</span></button>
    {% endif %}

    
    
    <div id="mobile_only_nav" class="mobile-only-nav pull-right">
        <ul class="nav navbar-right top-nav pull-right">
            <!-- 用户区域 -->
            <li class="dropdown auth-drp">
                <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="{{current_user.imgurl}}" alt="{{current_user.username}}" class="user-auth-img img-circle"/></a>
                <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                    <li>
                        <a href="{{url_for('users.showInformation')}}"><i class="zmdi zmdi-account"></i><span>我的信息</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{url_for('main.index', user_id = current_user.id )}}"><i class="zmdi zmdi-notifications top-nav-icon"></i><span>我的想法</span></a>
                    </li>
                {% for url in current_user.user_can() %}
                    <li class="divider"></li>
                    {% if current_user.is_superadmin %}
                        <li>
                            <a href="{{url_for(url.url_func)}}"><i class="zmdi zmdi-settings"></i><span>{{url.name}}</span></a>
                        </li>
                    {% else %}
                        {% if url.menus and url.menus[0].id == 1 %}
                            <li>
                                <a href="{{url_for(url.url_func)}}"><i class="zmdi zmdi-settings"></i><span>{{url.name}}</span></a>
                            </li>
                        {% endif %}
                    {% endif %}            
                {% endfor %}
                    <li class="divider"></li>
                    <li>
                        <a href="{{url_for('auth.logout')}}"><i class="zmdi zmdi-power"></i><span>退出</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>  
</nav>


<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title" id="myModalLabel">写下你的想法</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body pa-0">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            <div class="form-body overflow-hide">
                                                <div class="form-group">
                                                    <label class="control-label mb-10">想法</label>
                                                    <input name="example-input1-group2" class="form-control" placeholder="你的想法" id="title" type="text">
                                                </div>

                                                <script src="{{url_for('static',filename='emoji/code/jquery.emoticons.js')}}"></script>
                                                <div class="emoticons">
                                                    <div class="publisher">
                                                        <p><textarea name="content" id='detail' placeholder="请写下具体的想法把(可选)"></textarea></p>
                                                        <p><a class="trigger" href="javascript:;">☺</a></p>
                                                    </div>                                                    
                                                </div>  
                                                <script type="text/javascript">
                                                    $.emoticons({
                                                        'activeCls':'trigger-active'
                                                    });
                                                </script>

                                                <div class="form-group">
                                                    <label class="control-label mb-10">想法的标签(可选)</label>
                                                    <input name="example-input1-group2" class="form-control" placeholder="你觉得合适的标签" id="label" type="text">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="share" class="btn btn-success waves-effect">Share</button>
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>

<style type="text/css">
    .emoticons{
        width: 525px;
        margin-bottom:20px;
    }
    .emoticons .publisher{
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px dotted #dbdbdb;
    }
    .emoticons .publisher textarea{
        width: 500px;
        height: 140px;
        padding: 5px 10px;
        border: 1px solid #dbdbdb;
        resize: none;
    }
    .emoticons .publisher .trigger{
        font-size: 24px;
        font-weight: bold;
        color: #666;
    }
    .emoticons .publisher .trigger-active{
        color: #eb7350;
    }
    .emoticons .result{
        padding: 10px 15px;
        border: 1px dotted #dbdbdb;
        margin-top: 10px;
        height: 150px;
        line-height: 24px;
    }
    .emoticons .result img{
        vertical-align: middle;
    }

    .widget-layer{
        z-index:9999;
        position: relative;
        width: 410px;
        margin-top: 8px;
        background: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
    }
    .widget-layer:before{
        position: absolute;
        top: -16px;
        left: 2px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom-color: #dbdbdb;
    }
    .widget-layer:after{
        position: absolute;
        top: -15px;
        left: 2px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom-color: #f0f0f0;
    }
    .widget-layer .widget-tool{
        height: 28px;
        background: #f0f0f0;
    }
    .widget-layer .widget-close{
        float: right;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        font-family: Arial;
    }
    .widget-layer ul{
        width: 372px;
        margin: 0 auto;
        padding: 15px 5px 20px;
        overflow: hidden;
    }
    .widget-layer li{
        position: relative;
        z-index: 8;
        float: left;
        width: 22px;
        height: 22px;
        padding: 4px;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid #e8e8e8;
        cursor: pointer;
    }
    .widget-layer li:hover{
        z-index: 9;
        border-color: #eb7350;
    }
</style>

<script type="text/javascript">
    $(function(){
        $('#share').click(function(){
            $.ajax({
                url:'/sharethought',
                method:'GET',
                data:{
                    "user_id":'{{ current_user.id }}',
                    "detail":$("#detail").val().replace(/[\r\n]/g,"<br>"),
                    "title" :$("#title").val(),
                    "label":$("#label").val(),
                },
                success:function(response){
                    if (response == "success") {
                        window.location.reload() 
                    }else{
                        alert("网络链接失败")
                    }

                }
            })
        })
    })
</script>